[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.tpl,*.ng,*.sht,*.html,*.shtm,*.swig,*.shtml,*.htm}]
indent_style=space
indent_size=2


[{/mizar/m/tool/citylist.json,.webpackrc,.eslintrc,/mizar/m/channel/statis,.prettierrc,.babelrc,jest.config,statis,.stylelintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{*.css,*.wxss}]
indent_style=space
indent_size=2

[{limitedTimer.js,xAxis.js,BarChart.js,Table.js,*.applejs,*.js}]
indent_style=space
indent_size=2
trim_trailing_whitespace = true
insert_final_newline = true

[{.analysis_options,*.yml,*.yaml}]
indent_style=space
indent_size=2

[yarn.lock]
indent_style=space
indent_size=2

