if error
  .alert.alert-danger.fade.in
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    p #{error}

if messages.info
  .alert.alert-info.fade.in
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    for info in messages.info
      div= info.msg
if success
  .alert.alert-success.fade.in
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    p #{success}
