.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fas.fa-cube
        | #{blog.title}
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title === 'Home') ? 'active' : undefined)
          a(href='/') 首页
        li(class=(title === '文章') ? 'active' : undefined)
          a(href='/article') 文章
        li(class=(title === 'Contact') ? 'active' : undefined)
          a(href='/contact') 联系我
        li
          a(href='/status') Status
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title === 'signin') ? 'active' : undefined)
            a(href='/signin') 登录
          li(class=(title === 'signup') ? 'active' : undefined)
            a(href='/signup') 注册
        else
          li.dropdown(class=(title === 'user') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.avatar
                img(src= '/img/' + user.avatar)
              else
                img(src=user.gravatar(60))
              span= user.name || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') 个人中心
              li.divider
              li(class=(title === '文章') ? 'active' : undefined)
                a(href='/article/create') 文章
              li.divider
              li
                a(href='/signout') 退出
